.cardCont,
.cardPrice,
.itemsCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemsCont {
  overflow: hidden;
  flex-wrap: wrap;
  gap: 20px;
  width: 50%;
  max-width: 100%;

  padding-top: 100px;
  padding-bottom: 100px;
}

.cardCont {
  flex-direction: column;

  background-color: rgb(30, 30, 30);

  border: 2px solid rgb(183, 183, 183);
  border-radius: 5px;

  filter: drop-shadow(5px 5px 10px black);
  height: 250px;
  width: 200px;
  max-width: 100%;

  font-size: 110%;
  overflow: hidden;
  color: white;
}

.cardItemImg {
  height: 50%;
  user-select: none;
  max-width: 100%;
}

.cardName {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 120%;
  height: 20%;
  user-select: none;
}

.cardPrice {
  width: 100%;
  text-align: center;
  user-select: none;
  gap: 5px;
}

.cardAddToCart {
  width: 80%;
  text-align: center;
  background-color: black;
  border-radius: 5px;
  height: fit-content;
  transition: all 50ms ease-in-out;
  user-select: none;
}

.cardAddToCart:hover {
  cursor: pointer;
  background-color: rgb(255, 221, 0);
  color: rgb(172, 74, 0);
  font-weight: bold;
  transform: scale(1.01);
}
